# --- to execute setup.py whatever the goal
six
pytest-runner
setuptools_scm

# --- to install
makefun>=1.5.0
decopatch

# --- to generate the reports (see scripts in ci_tools, called by .travis)
pytest-html$PYTEST_HTML_VERSION
xunitparser

# --- to run the tests
tabulate
pytest$PYTEST_VERSION
pytest-logging  # ==2015.11.4

# --- to generate the reports (see scripts in ci_tools, called by .travis)
# pytest-cov==2.6.0  # after 2.6.1 it requires pytest 3.6
coverage
requests

# --- to generate the doc (see .travis)
# does not work on python 2 anymore
#mkdocs-material  #==3.3.0
#mkdocs  # ==1.0.4  # this is to prevent a version non-compliant with mkdocs-material to be installed.
